@media screen and (max-width: 1500px) {

  .about-containers {
    flex-wrap: wrap;
  }
  #contact{
    height: fit-content;
  }

}

@media screen and (max-width: 1100px) {
  .html{
    overflow-x: hidden;
  }
  
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #profile,
  .section-container {
    display: block;
    height:fit-content;
    padding-bottom:10%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  #about{
    top:1.5em;
  }
}

@media screen and (max-width: 600px) {
  #nav{
    height: 15px;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: fit-content;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    display:none;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  #about{
    top:4.5em;
    clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  }
}