/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  cursor:none;
}

/* Cursor */
.cursor {
  width:20px;
  height:20px;
  background-color:#fcba03;
  border-radius: 50%;
  position:fixed;
  z-index: 2000;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width:20px;
  height:20px;
  position:absolute;
  border: 8px solid #fcba03;
  border-radius:50%;
  opacity: .5;
  top: -8px;
  left:-8px;
  pointer-events: none;
}

.hide-trail svg.trail {
  display: none;
}


svg.trail{
  position:fixed;
  top:0;
  left:0;
  pointer-events: none;
  z-index: 2000;
}

svg.trail path{
  fill:none;
  stroke: #fcba03;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin:round;
}

.expand {
  animation: cursorAnim1 .5s forwards;
}


@keyframes cursorAnim1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

.cursor.hover {
  opacity:0.5;
  animation: cursorAnim2 0.5s forwards;
}
.cursor.hover::after {
  opacity:0; 
}

@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(5);
  }
}

/* Fade in */
@media (prefers-reduced-motion: no-preference) {
  .in-view {
    animation: fade 2s both;
  }

  .not-in-view {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(0, 3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* TRANSITION */

a {
  color: #FFF;
  text-decoration: none;
  background-image: linear-gradient(#2859b4, #2859b4);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color:#2859b4;
  background-size: 100% 0.1em;
  background-position-x: 0%;
}

/* DESKTOP NAV */


nav {
  top: 0;
  position: fixed; 
  width:100%;
  height: fit-content;
  padding: 15px 0;
  background-color: #333;
  color:#fff;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
  display:flex;
  box-shadow: 0px 30px 20px 0px #353535;
  z-index: 1009;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  display:flex;
}

.logo {
  font-size: 2rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  width: 150px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover{
  color: #2859b4;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  box-sizing: border-box;
  min-height: fit-content;
  margin: 0 0;
}


.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  top:130px;
  position:relative;
  width: 100%;
  gap: 5rem;
  height: 10%;
  padding-bottom:7%;
  margin:0 0;
  background-image: linear-gradient(#FFF, #82b4ff);
  clip-path: polygon(points="0,0 100,0 100,90 0,100");
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1001;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;

}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text__p1 {
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  height: 2rem;  
}

/* BUTTONS */

.btn-container {
  margin:1rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  background-color: #333;
}

.btn-color-1{
  border: rgb(53, 53, 53) 0.1rem solid;
  background-color: #333;
  color:white;
}

.btn-color-1:hover {
  background: #2859b4;
}

/* ABOUT SECTION */

#about {
  top:10px;
  position: relative;
  width:100%;
  padding: 0 25px;
  padding-bottom:10%;
  background-image: linear-gradient(#82b4ff, #6496e1);
  clip-path: polygon(0% 10%, 100% 0%, 100% 95%, 0% 100%);
  text-align: center;
  display:grid;
  justify-content: center;
  column-gap: 80px;
  z-index: 1002;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}
.about-profilepic {
  border-radius: 50rem;
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
}

#about a{
  color:black;
}

/* EXPERIENCE SECTION */

#skills {
  position:absolute ;
  top:73em;
  width:100%;
  height: fit-content;
  padding:5% 20px;
  padding-bottom: 10%;
  background-image: linear-gradient(#6496e1, #4678c8);
  clip-path: polygon(0% 0%, 100% 5%, 100% 100%, 0% 97%);
  text-align: center;
  display:grid;
  justify-content: center;
  z-index: 1004;
}

#skills a{
  color:black
}
.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
  z-index:1004

}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}


/* CONTACT */

#contact {
  position:absolute;
  top:110em;
  width:100%;
  height:fit-content;
  padding:0 10px;
  background-image: linear-gradient(#4678c8, #143b96);
  clip-path: polygon(0% 5%, 100% 10%, 100% 100%, 0% 100%);
  text-align: center;
  justify-content: center;
  z-index: 1005;
}


.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  padding: 0.5rem;
  padding-bottom:02;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
  background-color: #143b96;
}

.email-icon {
  height: 2.5rem;
}

#contact li{
  list-style: none;
  display: inline-block;
}

.sm_icon{
  height:5rem;
}
/* FOOTER SECTION */

footer {
  position: absolute;
  top:128em;
  width:100%;
  height: fit-content;
  padding:0;
  text-align: center;
  justify-content: center;
  z-index: 1006;
}


footer p {
  padding-top:14px;
  background-color: #333;
  color:white;
  text-align: center;
}
